.Outer-MidButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  max-width: 1200px;
  margin: auto;
}
.Inner-MidButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94%;
  width: 90%;
  margin-left: 10%;
  margin: auto;
  flex-direction: row;
}

.Mid-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 2%;
  width: 32%;
  height: 84%;
  background-color: #cf9700;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.Mid-Btn:hover {
  background-color: #293a6e;
}

@media all and (max-width: 820px) {
  .Outer-MidButtons {
    height: 70px;
  }
  .Inner-MidButtons {
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .Mid-Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 0.666%;
    width: 32%;
    height: 90%;
    background-color: #cf9700;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .Mid-Btn:hover {
    background-color: #293a6e;
  }
}
