.Outer-MidButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  max-width: 1200px;
  margin: auto;
}
.Inner-MidButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94%;
  width: 90%;
  margin-left: 10%;
  margin: auto;
  flex-direction: row;
}

.Mid-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 2%;
  width: 32%;
  height: 84%;
  background-color: #cf9700;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.Mid-Btn:hover {
  background-color: #293a6e;
}
