.Outer-MyPrac {
  min-height: 40vh;
  max-width: 1200px;
  margin: auto;
}

.Practice-Columns {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin-top: 20px;
}
.Left-Maj-Col {
  margin-left: 5%;
  margin-right: 3%;
  width: 58%;
}

.Outer-Vid {
  height: 300px;
  width: 95%;
  padding: 1.5%;
}

.Mid-Vid {
  display: flex;
  width: 100%;
  height: 300px;
}

.Left-About-div {
  flex-direction: column;
  padding: 3%;
  text-align: left;
  margin-top: 10px;
  font-size: 13.5px;
}
.Left-Main-div {
  flex-direction: column;
  padding: 1%;
  text-align: left;
  margin-top: 10px;
  font-size: 15px;
}
.My-Practice {
  color: #cf9700;
  font-size: 16px;
}

@media all and (max-width: 820px) {
  .Practice-Columns {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  .Left-Maj-Col {
    margin: auto;
    width: 94%;
  }

  .Outer-Vid {
    display: flex;
    height: 200px;
    width: 92%;
    margin: auto;
    padding: 2%;
  }

  .Mid-Vid {
    display: flex;
    width: 100%;
    height: 200px;
  }

  .Left-About-div {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 16px;
    padding-top: 0px;
    height: 100%;
    text-align: left;
    margin-top: 10px;
    font-size: 13.5px;
  }
  .My-Practice {
    color: #cf9700;
    font-size: 16px;
  }
}
