.Home-Content-Outer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 29vh;
  margin-top: 1vh;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 25px;
}

.Dr-Desc {
  margin-left: 7%;
  width: 55%;
  text-align: left;
}

.Dr-Vid {
  width: 35%;
  padding: 1.5%;
  margin-top: 50px;
}

.Small-Vid {
  width: 100%;
  height: 100%;
}

.Vid-Mod-Outer {
  top: 0;
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;
  background: rgba(33, 33, 34, 0.644);
}

.Vid-Mod-Inner {
  width: 70%;
  height: 40%;
  margin: auto;
  z-index: 100;
}
