.TopBar-Outer {
  background-color: #293a6e;
  color: white;
  overflow: hidden;
}
.TopBar-Inner {
  display: flex;
  align-items: center;
  height: 12vh;
  min-height: 70px;
  max-height: 120px;
  max-width: 1400px;
  margin: auto;
}
.TopBar-Name {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 7.5%;
  width: 62.5%;
  height: 80%;
}

.Name-Title {
  font-size: 26px;
  text-align: left;
}

.Job-Title {
  font-size: 14px;
  text-align: left;
}

.TopBar-Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.5%;
  height: 80%;
  margin-right: 7.5%;
}

.Logo {
  max-height: 80%;
  max-width: 80%;
}

.Outside-Bars {
  display: none;
}

@media all and (max-width: 800px) {
  .TopBar-Inner {
    flex-direction: column;
    height: 15vh;
    margin-top: 8px;
  }
  .TopBar-Name {
    margin-left: 0%;
    text-align: center;
    width: 100%;
  }
  .Name-Title {
    font-size: 22px;
    text-align: center;
  }
  .Job-Title {
    font-size: 13px;
    text-align: center;
  }
  .TopBar-Logo {
    width: 25%;
    margin-right: 0%;
  }

  .Logo {
    max-height: 90%;
    max-width: 90%;
    margin-bottom: 8px;
  }

  .Outside-Bars {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-right: 20px;
    height: 12vh;
    position: absolute;
    cursor: pointer;
  }

  .Menu-Btn-Mobile {
    display: flex;
    height: 20px;
    font-size: 35px;
    color: white;
  }
}
